.categories {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 5px;
}

.categories-list {
    padding: unset;
}

.category-item {
    list-style-type: none;
}